.card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 40px;

    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  .subline {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px solid #7488ab;
  }

  .title {
    font-size: 1.6em;
    line-height: 1.6em;
  }

  .rating {
    position: relative;
    top: -10px;
  }

  .rating,
  .year {
    color: #7488ab;
  }
}
